body {
	font-family: plantin, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
}

a {
	color:red;
}

/*O-LANDING*/

/*.o-landing {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.o-landing video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.o-landing-title {
	text-align: center;
	position: relative;
}*/

/*END --- O-LANDING*/

/*PUBLIC DOMAIN*/

.left-content-pd {
	display: none;
}

.left-content-primary {
	display: none;
}

.left-content-primary-info {
	font-size: 1vw;
	font-style: italic;
	color: blue;
}

.pd-title {
	color: blue;
	font-size: 5vw;
}

.pd-body {
	font-size: 1.7vw;
}

.pd-body img{
	width: 40%;
}

.pd-return {
	color: blue;
	font-size: 3vw;
	font-style: italic;
}

.pd-return:hover {
	font-style: inherit;
	color: black;
	text-decoration: underline;
}

/*END --- PUBLIC DOMAIN*/

.hdrimg {
	width: 10vw;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: green;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
}

.left-intro {
	font-size: 5.7vw;
}

.left-content {
	padding: 10px;
}

.left-content-header {
	font-size: 2.05vw;
}

.right {
	color: blue;
/*	background-color: #29ff69;*/
	background-color: #bababa;
	width:50%;
	height: 100vh;
	overflow: scroll;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	position: fixed;
	right:0;
}

.right-content {
	padding: 10px;
	display: none;
}

.right img {
	width: 100%;
}

.video {
	background-color: #202020;
	width: 100%;
  	display: block;
 	margin-left: auto;
 	margin-right: auto;
}

.right-content-yr {
	font-size: 3vw;
	text-align: left;
}

/*.right-content-sub {
	padding: 0.5% 10% 0%;
}*/

/*LANDING PAGE*/

.gif-reel {
	object-fit: fill;
}

.right-landing {
	padding: 0;
}

.landing-vid {
	width: 100vw;
	height: 100vh;
}

.landing-vid video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
}

/*END - LANDING PAGE*/

/*LINK STYLE*/
.info-link {
	color: white;
	text-decoration: none;
}

.info-link:hover {
	font-style: italic;
	border-bottom: 5px solid white;
}

.info-link-2 {
	color: blue;
	text-decoration: none;
}

.info-link-2:hover {
	color: black;
	border-bottom: 0.3vw solid black;
}
/*END - LINKSTYLE*/

/*LEFT CONTENT*/

.left-title {
	font-size: 2vw;
	padding: none;
}

/*END - LEFT CONTENT*/


/*RESOURCE LIST*/

.index-title {

}

.index-body {
	font-style: italic;
}

.index-row-title {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 1.5vw;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid green;
	cursor: pointer;
	font-size: 1.7vw;
}

.index-img {
	flex: 0 0 25%;
}

.index-img img {
	width: 6vw;
}

.index-name {
	flex: 0 0 45%;
}

.index-tag {
	flex: 0 0 30%;
}
/*END - RESOURCE LIST*/


/*interactive classes*/

.popup-show {
	display: block;
}

